<a href="https://colab.research.google.com/github/AvirajB21E/CS10/blob/main/CS11_Iterating_over_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Iterating Over Lists CS11

In [8]:
from random import shuffle
lot_nums = []
for x in range(1, 40):
    lot_nums.append(x)
shuffle(lot_nums)
for i in range(0, 5):
    print(lot_nums[i])

34
4
8
29
16

In [10]:
li = int(input("Enter Number for 10 timestable:"))

print(10 * li)

Enter Number for 10 timestable:4
40

In [19]:
li = int(input("Enter Number for a timestable:"))
for i in range(1, 13):
 print(f"{i} * {li} =  {i * li}")

Enter Number for a timestable:5
1 * 5 =  5
2 * 5 =  10
3 * 5 =  15
4 * 5 =  20
5 * 5 =  25
6 * 5 =  30
7 * 5 =  35
8 * 5 =  40
9 * 5 =  45
10 * 5 =  50
11 * 5 =  55
12 * 5 =  60
13 * 5 =  65
14 * 5 =  70
15 * 5 =  75
16 * 5 =  80
17 * 5 =  85
18 * 5 =  90
19 * 5 =  95
20 * 5 =  100
21 * 5 =  105
22 * 5 =  110
23 * 5 =  115
24 * 5 =  120
25 * 5 =  125
26 * 5 =  130
27 * 5 =  135
28 * 5 =  140
29 * 5 =  145
30 * 5 =  150
31 * 5 =  155
32 * 5 =  160
33 * 5 =  165
34 * 5 =  170
35 * 5 =  175
36 * 5 =  180
37 * 5 =  185
38 * 5 =  190
39 * 5 =  195
40 * 5 =  200
41 * 5 =  205
42 * 5 =  210
43 * 5 =  215
44 * 5 =  220
45 * 5 =  225
46 * 5 =  230
47 * 5 =  235
48 * 5 =  240
49 * 5 =  245
50 * 5 =  250
51 * 5 =  255
52 * 5 =  260
53 * 5 =  265
54 * 5 =  270
55 * 5 =  275
56 * 5 =  280
57 * 5 =  285
58 * 5 =  290
59 * 5 =  295
60 * 5 =  300
61 * 5 =  305
62 * 5 =  310
63 * 5 =  315
64 * 5 =  320
65 * 5 =  325
66 * 5 =  330
67 * 5 =  335
68 * 5 =  340
69 * 5 =  345
70 * 5 =  350
71 * 5 =  355
72 * 5 =  360
73 * 5 =  365
74 * 5 =  370
75 * 5 =  375
76 * 5 =  380
77 * 5 =  385
78 * 5 =  390
79 * 5 =  395
80 * 5 =  400
81 * 5 =  405
82 * 5 =  410
83 * 5 =  415
84 * 5 =  420
85 * 5 =  425
86 * 5 =  430
87 * 5 =  435
88 * 5 =  440
89 * 5 =  445
90 * 5 =  450
91 * 5 =  455
92 * 5 =  460
93 * 5 =  465
94 * 5 =  470
95 * 5 =  475
96 * 5 =  480
97 * 5 =  485
98 * 5 =  490
99 * 5 =  495
100 * 5 =  500